<div class="app-container">
 <app-navbar></app-navbar>
    <div class="welcome-content">
      <h1>Welcome to <span class="highlight">Digital Learning</span></h1>
      <p class="quote">"Learning never exhausts the mind, it only ignites it." – Leonardo da Vinci</p>
  
      <div class="auth-buttons">
        <button class="register-btn"  (click)="onRegister()">Register</button>
        <span class="or-text">or</span>
        <button class="login-btn" (click)="onLogin()">Login</button>
      </div>
    </div>
  </div>
  
  
  <!-- <router-outlet /> -->
