<div class="main-container">
    <!-- Top Bar -->
    <div class="top-bar">
      <input type="text" class="search-bar" placeholder="Search courses...">
      <img src="favicon.ico" alt="App Logo" class="app-logo">
    </div>
  
    <!-- Sidebar Navigation -->
    <div class="sidebar">
      <button class="icon-button">
        <img src="favicon.ico" alt="User Profile">
      </button>
      <button class="icon-button" >
        <img src="favicon.ico" alt="Assignments">
      </button>
      <button class="icon-button" >
        <img src="favicon.ico" alt="Ranks">
      </button>
    </div>
  
    <!-- Course Grid -->
    <div class="course-grid">
      @for (course of courses; track $index) {
      <div class="course-box">
        <div class="course-img">
          <img [src]="course.image" alt="{{ course.name }} Image" />
        </div>
        <h3 class="course-title">{{ course.name }}</h3>
        <p class="course-desc">{{ course.description }}</p>
      </div>
    }
    </div>
  </div>
  
