<app-navbar></app-navbar>
<div class="contact-container">

    <h1 class="contact-title">Get in touch with us</h1>
  
    <div class="contact-info">
  
     <div class="contact-card">
  
      <img src="assets/icons/email.png" alt="Email Icon" class="icon" />
  
      <h3>Email</h3>
  
      <p>support&#64;digitallearning.com</p>
  
     </div>
  
     <div class="contact-card">
  
      <img src="assets/icons/phone.png" alt="Phone Icon" class="icon" />
  
      <h3>Phone</h3>
  
      <p>+91 9876543210</p>
  
     </div>
  
     <div class="contact-card">
  
      <img src="assets/icons/location.png" alt="Location Icon" class="icon" />
  
      <h3>Location</h3>
  
      <p>Digital Learning HQ, Bengaluru, India</p>
  
     </div>
  
    </div>
  
   </div>
